{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the SPKT Schools! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login'%}">log in</a>. If you are new to SPKT School, get started
    by creating a <a href="{% url 'student_signup' %}">student account</a> or a <a href="{% url 'teacher_signup' %}">admin account</a>.
  </p>
  <hr>
  <h3>What is the subject that you want to register?</h3>
  <p>
    This SPKT application is the application that every student can register one or more social subject . 
  </p>
 

{% endblock %}
